:root {
  --bgcolor: rgb(42, 42, 42);
  --hover: #606060;
  --textPrimary: #fff;
  --textSecondary: #666;
  --primaryColor: rgb(255, 115, 0);
  --secondaryColor: rgb(0, 255, 136);
  --tertiaryColor: rgb(182, 182, 182);
  --menuBackground: #202020;
  --menuBtns: #2a2a2a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* Altura total da viewport */
  margin: 0;
  background-color: var(--bgcolor);
}

.theme-container {
  text-align: center;
  width: 50vw;
  height: 60vh;
  max-width: 800px;
  padding: 20px;
  background-color: var(--menuBackground);
  border-radius: 37px;
  min-height: 193px;
}

.preview {
  background-color: var(--bgcolor);
  padding: 20px;
  border-radius: 37px;
  height: 55%;
  position: relative;
  height: 90%;
}

.mini-logo {
  color: var(--textPrimary);
  font-size: 55px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.mini-text-container {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 30%;
  transform: translate(-50%);
}

.mini-text1 {
  font-size: 3rem;
  color: var(--textPrimary);
}
.mini-text2 {
  font-size: 3rem;
  color: var(--textSecondary);
}

.mini-items {
  color: var(--textSecondary);
}

.mini-time {
  position: absolute;
  font-size: 4rem;
  top: -40%;
  left: 35%;
}

.mini-restart {
  position: absolute;
  font-size: 4rem;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
}

.mini-username {
  position: absolute;
  right: 10%;
  top: 5%;
  background-color: var(--primaryColor);
  color: var(--textPrimary);
  font-size: 1.5rem;
  padding: 0px 4% 0px 4%;
  border-radius: 10px 10px 0px 0px;
}

.mini-btns {
  background-color: var(--menuBackground);
  position: absolute;
  color: var(--textPrimary);
  font-size: 1.5rem;
  top: 12%;
  right: 10%;
  padding: 0px 1% 0px 1%;
  border-radius: 0px 0px 10px 10px;
}

.mini-menu-btns {
  background-color: var(--menuBtns);
  margin-top: 20%;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  border-radius: 15px;
}

.mini-menu-btns:last-child {
  background-color: var(--hover);
  margin-bottom: 15px;
}

.mini-blob {
  position: absolute;
  bottom: -55%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 80%;
}

/* Media query para telas menores que 600px (celulares em modo retrato) */
/* Estilos para telas menores que 768px (smartphones em modo paisagem e tablets) */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1200px) {
  /* Estilos para telas menores que 1200px (desktops maiores e laptops) */
  .theme-container {
    height: 60vh;
    max-height: 60vh;
  }

  .mini-logo {
    font-size: 40px;
  }

  .mini-text-container {
    top: 30%;
  }

  .mini-text1 {
    font-size: 3rem;
  }
  .mini-text2 {
    font-size: 3rem;
  }

  .mini-time {
    font-size: 4rem;
    top: -40%;
    left: 28%;
  }

  .mini-restart {
    font-size: 4rem;
  }

  .mini-username {
    font-size: 1.5rem;
    padding: 0px 4% 0px 4%;
    border-radius: 10px 10px 0px 0px;
  }

  .mini-btns {
    font-size: 1.5rem;
    top: 12%;
    right: 10%;
    padding: 0px 1% 0px 1%;
    border-radius: 0px 0px 10px 10px;
  }

  .mini-menu-btns {
    margin-top: 20%;
    border-radius: 15px;
  }

  .mini-menu-btns:last-child {
    margin-bottom: 15px;
  }

  .mini-blob {
    bottom: -62%;
    height: 90%;
  }
}

@media screen and (max-width: 992px) {
  /* Estilos para telas menores que 992px (tablets em modo paisagem e desktops menores) */
  .theme-container {
    height: 40vh;
    border-radius: 25px;
    max-width: 600px;
  }

  .preview {
    border-radius: 25px;
  }

  .mini-logo {
    font-size: 30px;
  }

  .mini-text-container {
    top: 30%;
  }

  .mini-text1 {
    font-size: 2rem;
  }
  .mini-text2 {
    font-size: 2rem;
  }
  .mini-time {
    font-size: 2rem;
    top: -40%;
    left: 30%;
  }
  .mini-restart {
    font-size: 2rem;
  }
  .mini-username {
    font-size: 1rem;
    padding: 0px 4% 0px 4%;
    border-radius: 10px 10px 0px 0px;
  }
  .mini-btns {
    top: 12%;
    right: 10%;
    border-radius: 0px 0px 10px 10px;
    font-size: 1rem;
  }
  .mini-menu-btns {
    margin-top: 20%;
    border-radius: 15px;
  }
  .mini-menu-btns:last-child {
    margin-bottom: 5px;
  }

  .mini-blob {
    bottom: -48%;
    height: 70%;
  }
}

@media screen and (max-width: 600px) {
  .theme-container {
    width: 70vw;
    height: 60vh;
    border-radius: 10%;
    /* max-height: 238px; */
  }
  .preview {
    border-radius: 10%;
    min-height: 138px;
  }

  .mini-logo {
    font-size: 40px;
  }

  .mini-text-container {
    top: 40%;
  }

  .mini-text1,
  .mini-text2 {
    font-size: 2.5rem;
    font-size: 2.5rem;
  }

  .mini-time {
    font-size: 7rem;
    top: -100%;
    left: 12%;
  }

  .mini-restart {
    font-size: 7rem;
    top: 15%;
  }

  .mini-username {
    font-size: 2.5rem;
    padding: 0px 4% 0px 4%;
    border-radius: 20% 20% 0px 0px;
  }

  .mini-btns {
    top: 15%;
    right: 10%;
    padding: 0px 4% 0px 4%;
    border-radius: 0px 0px 20% 20%;
  }

  .mini-menu-btns {
    margin-top: 10%;
    font-size: 2.5rem;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
    border-radius: 5px;
  }

  .mini-menu-btns:last-child {
    margin-bottom: 5px;
  }

  .mini-blob {
    bottom: -41%;
    height: 60%;
    width: 90%;
  }
}
