@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital@0;1&display=swap");
:root {
  --bgcolor: rgb(42, 42, 42);
  --textPrimary: #fff;
  --textSecondary: #666;
  --primaryColor: rgb(255, 115, 0);
  --tertiaryColor: rgb(182, 182, 182);
}

html,
body {
  margin: 0;
  padding: 0;
  max-height: 100vw;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bgcolor);
  color: var(--textPrimary);
  font-size: 1.4rem;
}

main {
  width: 800px;
  margin: 50px auto;
  height: 100%;
}

.navbar {
  z-index: 999;
  width: 100%;
  margin: 10px auto;
}

#wrapper {
  height: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dots-Btn {
  position: relative;
  text-decoration: none;
  color: #fff;
  height: 230px;
  letter-spacing: 1px;
  font-size: 2rem;
  box-sizing: border-box;
}

.dots-Btn span {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  z-index: -1;
}

.dots-Btn span:before {
  display: block;
  position: absolute;
  box-sizing: border-box;
}
.dots-Btn .dots-container {
  opacity: 0;
  animation: intro 1.6s;
  animation-fill-mode: forwards;
}
.dots-Btn .dot {
  width: 8px;
  height: 8px;
  display: block;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  transition: all 0.85s cubic-bezier(0.25, 1, 0.33, 1);
}

.dots-Btn .dot:nth-child(1) {
  top: 50px;
  left: 50px;
  transform: rotate(90deg);
  animation: swag1-out 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.dots-Btn .dot:nth-child(2) {
  top: 50px;
  right: 50px;
  transform: rotate(55deg);
  animation: swag2-out 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.dots-Btn .dot:nth-child(3) {
  bottom: 50px;
  left: 50px;
  transform: rotate(-55deg);
  animation: swag3-out 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.dots-Btn.active .dot:nth-child(1) {
  animation: swag1 1s;
  animation-fill-mode: forwards;
}

.dots-Btn.active .dot:nth-child(2) {
  animation: swag2 1s;
  animation-fill-mode: forwards;
}
.dots-Btn.active .dot:nth-child(3) {
  animation: swag3 1s;
  animation-fill-mode: forwards;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes swag1 {
  0% {
    top: 100px;
    left: 90px;
    width: 10px;
    height: 10px;
  }
  50% {
    width: 30px;
    height: 25px;
    opacity: 1;
  }
  100% {
    top: 170.35px;
    left: 82.5px;
    opacity: 1;
    width: 35px;
    height: 35px;
    background-color: #666;
  }
}

@keyframes swag1-out {
  0% {
    top: 172px;
    left: 85px;
    opacity: 1;
    width: 35px;
    height: 25px;
    background-color: #666;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 100px;
    left: 96px;
    width: 8px;
    opacity: 1;
  }
}

@keyframes swag2 {
  0% {
    top: 100px;
    right: 70px;
    width: 10px;
    height: 10px;
  }
  50% {
    width: 30px;
    height: 25px;
    opacity: 1;
  }
  100% {
    top: 170.35px;
    right: 18.55px;
    opacity: 1;
    width: 35px;
    height: 35px;
    background-color: #666;
  }
}
@keyframes swag2-out {
  0% {
    top: 172px;
    right: 20px;
    opacity: 1;
    width: 35px;
    height: 25px;
    background-color: #666;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 100px;
    right: 80px;
    width: 8px;
    opacity: 1;
  }
}

@keyframes swag3 {
  0% {
    top: 100px;
    left: 70px;
    width: 10px;
    height: 10px;
  }
  50% {
    width: 30px;
    height: 25px;
    opacity: 1;
  }
  100% {
    top: 170.35px;
    left: 18.55px;
    opacity: 1;
    width: 35px;
    height: 35px;
    background-color: #666;
  }
}

@keyframes swag3-out {
  0% {
    top: 172px;
    left: 20px;
    opacity: 1;
    width: 35px;
    height: 25px;
    background-color: #666;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 100px;
    left: 80px;
    width: 8px;
    opacity: 1;
  }
}

.dot.orange {
  background-color: var(--primaryColor) !important;
}

.orange-fixed {
  color: rgb(140, 140, 140) !important;
  background-color: rgb(69, 69, 69) !important;
}

.dots-Btn .dot:nth-child(4) {
  display: block;
  background-color: transparent;
  position: absolute;
  transition: all 0.85s cubic-bezier(0.25, 1, 0.33, 1);
}

.dots-Btn.active .dot:nth-child(4) {
  animation: swag4 1s;
  animation-fill-mode: forwards;
}

.dots-Btn .dot:nth-child(4) {
  bottom: 50px;
  left: 80px;
  animation: swag4-out 0.7s;
  animation-fill-mode: forwards;
  font-size: 8px;
  visibility: hidden;
}

@keyframes swag4 {
  0% {
    top: 100px;
    left: 75px;
    visibility: hidden;
  }
  15% {
    visibility: hidden;
    transform: rotate(-55deg);
  }
  100% {
    top: 177px;
    left: 27px;
    opacity: 1;
    font-size: 22px;
    visibility: visible;
  }
}

@keyframes swag4-out {
  0% {
    top: 178px;
    left: 28px;
    opacity: 1;
    font-size: 22px;
    visibility: visible;
  }
  85% {
    visibility: hidden;
    transform: rotate(-55deg);
  }
  100% {
    top: 100px;
    opacity: 1;
    visibility: hidden;
  }
}

/* test language  */

.dots-Btn .dot:nth-child(5) {
  display: block;
  background-color: transparent;
  position: absolute;
  transition: all 0.85s cubic-bezier(0.25, 1, 0.33, 1);
}

.dots-Btn.active .dot:nth-child(5) {
  animation: swag5 1s;
  animation-fill-mode: forwards;
}

.dots-Btn .dot:nth-child(5) {
  top: 50px;
  left: 95px;
  animation: swag5-out 0.7s;
  animation-fill-mode: forwards;
  font-size: 8px;
}
@keyframes swag5 {
  0% {
    top: 100px;
    left: 90px;
    visibility: hidden;
  }
  15% {
    visibility: hidden;
  }
  100% {
    top: 177.5px;
    left: 89px;
    opacity: 1;
    font-size: 22px;
    visibility: visible;
  }
}

@keyframes swag5-out {
  0% {
    top: 179px;
    left: 91.5px;
    opacity: 1;
    font-size: 22px;
    visibility: visible;
  }
  85% {
    visibility: hidden;
  }
  100% {
    top: 100px;
    opacity: 1;
    visibility: hidden;
  }
}

/* gamemode */

.dots-Btn .dot:nth-child(6) {
  display: block;
  background-color: transparent;
  position: absolute;
  transition: all 0.85s cubic-bezier(0.25, 1, 0.33, 1);
}

.dots-Btn.active .dot:nth-child(6) {
  animation: swag6 1s;
  animation-fill-mode: forwards;
}

.dots-Btn .dot:nth-child(6) {
  top: 50px;
  right: 50px;
  animation: swag6-out 0.7s;
  animation-fill-mode: forwards;
  font-size: 8px;
}
@keyframes swag6 {
  0% {
    top: 100px;
    right: 70px;
    visibility: hidden;
  }
  15% {
    visibility: hidden;
    transform: rotate(55deg);
  }
  100% {
    top: 179px;
    right: 42px;
    opacity: 1;
    font-size: 20px;
    visibility: visible;
  }
}

@keyframes swag6-out {
  0% {
    top: 180px;
    right: 42px;
    opacity: 1;
    font-size: 22px;
    visibility: visible;
  }
  50% {
    visibility: visible;
    font-size: 5px;
  }
  85% {
    visibility: hidden;
    transform: rotate(55deg);
  }
  100% {
    top: 100px;
    right: 79px;
    opacity: 1;
    visibility: hidden;
  }
}

.times {
  display: block;
  position: relative;
  text-align: center;
  top: -37px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.times button {
  color: #fff;
  font-weight: bold;
  width: 35px;
  height: 35px;
  background-color: #666;
  border-radius: 100%;
  text-align: center;
  padding: 0;
}

.times button:nth-child(2) {
  margin: 0 19px;
}

.times button:hover {
  background-color: var(--primaryColor);
}

.hidden {
  visibility: hidden;
}

/* leaderboard */

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--bgcolor);
  font-family: sans-serif;
}

.container {
  text-align: center;
}

.wrapper {
  background-color: #191919;
  position: absolute;
  width: 550px;
  height: 650px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.table-header {
  color: #8c8c8c;
  width: 405px;
  margin: auto auto;
  padding-top: 30px;
  font-size: 20px;
}

.table-header th:nth-child(1) {
  padding: 0;
  text-align: left;
  padding-left: 25px;
}
.table-header th:nth-child(2) {
  width: 140px;
  text-align: left;
  padding: 0;
}
.table-header th:nth-child(3) {
  width: 50px;
  padding: 0;
  text-align: left;
}
.table-header th:nth-child(4) {
  width: 70px;
  padding: 0;
}

/* th,
td {
  text-align: left;
  padding: 8px;
} */

.buttons-container {
  padding: 0;
  display: inline-block;
  width: 450px;
}

.buttons-container button:hover {
  background-color: var(--textSecondary);
}

.leaderboardsBtn {
  color: white;
  border: none;
  background-color: rgb(80, 80, 80);
  font-size: 20px;
  border-radius: 12px;
  height: 35px;
  width: 180px;
  font-weight: bold;
}

.gameModeBtn {
  color: white;
  border: none;
  background-color: rgb(80, 80, 80);
  font-size: 20px;
  border-radius: 12px;
  height: 35px;
  width: 80px;
  margin-left: 80px;
  font-weight: bold;
}

.timeBtn {
  color: white;
  border: none;
  background-color: rgb(80, 80, 80);
  font-size: 20px;
  border-radius: 12px;
  height: 35px;
  width: 80px;
  padding-right: 10px;
  font-weight: bold;
}

.scrollable-table-container {
  height: 530px;
  width: 450px;
  margin: auto;
  position: relative;
  background-color: var(--bgcolor);
  border-radius: 20px;
}

.scrollable-table {
  overflow: auto;
  margin: 0 auto;
  height: 460px;
  width: 100%;
  width: 405px;
}

.scrollable-table::-webkit-scrollbar {
  display: none;
}

.scrollable-table td {
  color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 15px;
}

.scrollable-table td:nth-child(1) {
  width: 68.25px;
  max-width: 68.25px;
  padding-right: 2px;
}

.scrollable-table td:nth-child(2) {
  display: block;
  background-color: var(--textSecondary);
  height: 15px;
  width: 15px;
  border-radius: 100%;
  margin: 5px auto;
  align-items: center;
  text-align: center;
}

.scrollable-table td:nth-child(3) {
  padding: 0;
  width: 150px;
  max-width: 150px;
  text-align: left;
  overflow: auto;
}

.scrollable-table td::-webkit-scrollbar {
  display: none;
}
.scrollable-table td:nth-child(4) {
  padding-left: 4px;
  padding: 0;
  width: 42px;
}

.scrollable-table table {
  color: rgb(255, 255, 255);
  border-radius: 24px;
  background-color: #464646;
  margin-top: 15px;
  width: 100%;
}

.scrollable-table table:hover {
  background-color: var(--textSecondary);
}

.list-wrapper {
  margin-top: 40px;
  width: 100%;
}

/* share icon */

.share-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  top: 680px;
  z-index: 0;
}

.grow {
  background-color: #191919;
  border-radius: 20px;
  height: 50px;
  width: 60px;
  float: left;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  z-index: -1;
}
.grow:hover {
  height: 115px;
}

.grow:hover .fa-share-nodes {
  color: var(--primaryColor);
}

.fa-share-nodes {
  margin-top: 70px;
  padding: 10px;
}
