/* .notTest button {
  background-color: orange;
}

/* ///// */
:root {
  --bgcolor: rgb(42, 42, 42);
  --textPrimary: #fff;
  --textSecondary: #666;
  --primaryColor: rgb(255, 115, 0);
  --tertiaryColor: rgb(182, 182, 182);
}

body {
  background-color: var(--bgcolor);
}

.hidden {
  visibility: hidden;
}

/* ///// */

/* .grow {
  background-color: #666;
  border-radius: 20px;
  height: 50px;
  width: 60px;
  float: left;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
}
.grow:hover {
  height: 115px;
}

.fa-share-nodes {
  margin-top: 70px;
  background-color: red;
  padding: 10px;
} */

/* ////////////////////// */

/* .user-container {
  position: fixed;
  display: flex;
  right: 20px;
  top: 10px;
  gap: 10px;
  cursor: pointer;
  color: white;
}

.user-container .fa-solid {
  margin: auto;
  font-size: 16px;
}

.user-container p {
  margin: auto;
  font-size: 16px;
}

.user-container svg {
  margin: auto;
  height: 16px;
  width: 16px;
}

option {
  background-color: red;
} */

/* //////// */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.user-container {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  background-color: #202020;
  min-width: 111px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: hidden;
  transition: max-height 0.7s ease;
  max-height: 0;
  text-align: left;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.dropdown-content a {
  color: var(--textSecondary);
  font-weight: bold;
  width: 100px;
  border-radius: 12px;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  background-color: #2a2a2a;
  margin-bottom: 7px;
}

.dropdown-content a:nth-child(1) {
  background-color: transparent;
  text-align: center;
  margin-top: 5px;
}

.dropdown-content a:nth-child(4) {
  margin-top: 20px;
}

.dropdown-content a:last-child {
  margin-bottom: 20px;
}

.dropdown-content a:hover {
  background-color: var(--textSecondary);
  color: white;
}

.user-container.open .fa-chevron-down {
  transform: rotate(180deg);
}

.user-container.open .dropdown-content {
  max-height: 256px;
}

.user-container.open .dropbtn {
  background-color: #444444;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.dropbtn {
  display: flex;
  right: 20px;
  top: 10px;
  gap: 10px;
  cursor: pointer;
  color: white;
}

.user-container .fa-solid {
  margin: auto;
  font-size: 16px;
}

.user-container p {
  margin: auto;
  font-size: 16px;
}

.user-container svg {
  margin: auto;
  height: 16px;
  width: 16px;
}

.wrapp {
  position: fixed;
  right: 10px;
  top: 10px;
}

.fa-right-from-bracket {
  padding-right: 5px;
}

.fa-user-pen {
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  color: #202020;
  border-radius: 100%;
}

.dropdown-content .user-name {
  color: white;
  font-size: 15px;
}

.dropdown-content .user-email {
  color: #b7b7b7;
  font-size: 13px;
}
