:root {
  --bgcolor: rgb(42, 42, 42);
  --textPrimary: #fff;
  --textSecondary: #666;
  --primaryColor: rgb(255, 115, 0);
  --secondaryColor: rgb(0, 255, 136);
  --tertiaryColor: rgb(182, 182, 182);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bgcolor);
}

.hidden {
  /* visibility: hidden; */
  background-color: rgb(255, 255, 255);
}
/* .notTest button {
  background-color: orange;
}

/* ///// */
/* 
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.user-container {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  background-color: #202020;
  min-width: 111px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: hidden;
  transition: max-height 0.7s ease;
  max-height: 0;
  text-align: left;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.dropdown-content a {
  color: var(--textSecondary);
  font-weight: bold;
  width: 100px;
  border-radius: 12px;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  background-color: #2a2a2a;
  margin-bottom: 7px;
  text-align: center;
  font-size: 21px;
}

.dropdown-content a:nth-child(1) {
  background-color: transparent;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
}

.dropdown-content a:nth-child(4) {
  margin-top: 10px;
}

.dropdown-content a:last-child {
  margin-bottom: 20px;
  color: #ff5555;
}

.dropdown-content a:last-child:hover {
  color: rgb(255, 38, 38);
}

.dropdown-content a:hover {
  background-color: var(--textSecondary);
  color: white;
}

.user-container.open .fa-chevron-down {
  transform: rotate(180deg);
}

.user-container.open .dropdown-content {
  max-height: 256px;
}

.user-container.open .dropbtn {
  background-color: #444444;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.dropbtn {
  display: flex;
  right: 20px;
  top: 10px;
  gap: 10px;
  cursor: pointer;
  color: white;
}

.user-container .fa-solid {
  margin: auto;
  font-size: 16px;
  text-align: left;
}

.user-container p {
  margin: auto;
  font-size: 16px;
}

.fa-sliders {
  rotate: 90deg;
}

.user-container-wrapper {
  position: fixed;
  right: 10px;
  top: 10px;
}

.fa-right-from-bracket {
  padding-right: 5px;
}

.fa-user-pen {
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  color: #202020;
  border-radius: 100%;
}

.dropdown-content .user-name {
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.dropdown-content .user-name:hover {
  text-decoration: underline;
}

.dropdown-content .action {
  color: #b7b7b7;
  font-size: 12px;
}

.leaderboard-icon {
  width: 15px;
  height: 20px;
} */

/* ///// */

/* .grow {
  background-color: #666;
  border-radius: 20px;
  height: 50px;
  width: 60px;
  float: left;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
}
.grow:hover {
  height: 115px;
}

.fa-share-nodes {
  margin-top: 70px;
  background-color: red;
  padding: 10px;
} */

/* //////////////////////////////////////////////
///////////////  */
/* .sti_container {
  position: relative;
}

.sti_container a {
  color: white;
  font-size: 21px;
}

.sti_container span {
  color: white;
  font-size: 21px;
}

.fa-hand-holding-heart {
  padding-left: 25px;
}

.fa-github {
  padding-left: 25px;
}

.fa-linkedin {
  padding-left: 25px;
}

.fa-comment {
  padding-left: 25px;
  padding-right: 10px;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 15px;
  background-color: #202020;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  border-radius: 25px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.btn:hover {
  background-color: #202020;
}

.btn .btn-text {
  max-width: 0;
  display: inline-block;
  transition: color 0.25s 0.5s, max-width 1.5s;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}

.btn:hover .btn-text {
  max-width: 350px;
  color: white;
} */

/* //////////////////// */
/* .leaderboard-btn {
  color: white;
  font-size: 15px;
} */
/* //////////////////// */

/* .transition-3 {
  position: fixed;
  top: 30%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  transition: 0.5s ease-out;
  z-index: -1;
}

.transition-3.is-active {
  top: -40%;
  z-index: 1;
} */
/* ////////////////////// */

/* #share-container span {
  display: block;
  margin: 3rem auto;
  font-size: 50px;
  padding: 1rem;
  margin: 1rem;
}
#share-buttons i {
  font-size: 100px;
  margin: 20px;
}
.facebook {
  color: #3b5998;
}
.twitter {
  color: #55acee;
}
.linkedin {
  color: #0077b5;
}
.reddit {
  color: #cb2027;
}
.whatsapp {
  color: #25d366;
}
.telegram {
  color: #229ed9;
}
.facebook,
.twitter,
.linkedin,
.reddit,
.whatsapp,
.telegram {
  opacity: 0.6;
}
.facebook:hover,
.twitter:hover,
.linkedin:hover,
.reddit:hover,
.whatsapp:hover,
.telegram:hover {
  opacity: 0.9;
} */

/* ;;;;;;;;;;;;;; */

path {
  fill: red;
}

/* .container-svg2 {
  position: fixed;
  width: 100%;
  height: 50%;
  bottom: 0;
  text-align: center;
  overflow: hidden;
  filter: blur(25px);
}
.container-svg2 img {
  height: 100%;
  width: 100%;
} */

.blobe path {
  fill: var(--primaryColor);
}

.blobe {
  position: fixed;
  bottom: 0;
  height: 30vh;
  width: 120vw;
  filter: blur(15px);
}

.default {
  text-align: center;
  font-size: 50px;
  color: var(--secondaryColor);
}

i {
  font-size: 50px;
  color: var(--tertiaryColor);
}

.colors {
  width: 100px;

  position: absolute;
  left: 46.5%;
}

.colors input {
  border: none;
  display: block;
  margin-bottom: 10px;
  width: 100px;
}

.primary {
  background-color: var(--primaryColor);
}

.secondary {
  background-color: var(--secondaryColor);
}

.tertiary {
  background-color: var(--tertiaryColor);
}

.background {
  background-color: var(--bgcolor);
}
