@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital@0;1&display=swap");
:root {
  --bgcolor: rgb(42, 42, 42);
  --textPrimary: #fff;
  --textSecondary: #666;
  --primaryColor: rgb(255, 115, 0);
  --tertiaryColor: rgb(182, 182, 182);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bgcolor);
  color: var(--textPrimary);
  font-size: 1.4rem;
}

main {
  width: 600px;
  margin: 50px auto;
}

h1 {
  color: var(--primaryColor);
  text-align: center;
}

#game-wrapper {
  outline: none;
}

#header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 6px 30px;
}

#buttons {
  text-align: right;
  margin: 50px auto;
}

#info {
  color: var(--primaryColor);
}

button {
  background: transparent;
  border: 0;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.fa-rotate-right {
  color: var(--tertiaryColor);
  font-size: 20px;
  display: block;
  margin: 0 auto;
}

div#game {
  line-height: 35px;
  height: 105px;
  overflow: hidden;
  position: relative;
}

div#game:focus {
  outline: 0;
}

#words {
  filter: blur(7px);
  color: var(--textSecondary);
}

#game:focus #words {
  filter: blur(0); /* Remove o desfoque quando #game recebe foco */
  transition: all 0.25s ease 0s;
}

#focus-error {
  position: absolute;
  inset: 0;
  text-align: center;
  padding-top: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--tertiaryColor);
  font-weight: bold;
}

#game:focus #focus-error {
  display: none;
}

div.word {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  margin: 0 5px;
}

.letter.correct {
  color: #fff;
}
.letter.incorrect {
  color: #f55;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#cursor {
  display: none;
  width: 3px;
  height: 1.6rem;
  background: var(--primaryColor);
  position: fixed;
  animation: blink 1s infinite;
}

#game:focus #cursor {
  display: block;
}

#game.over #words {
  opacity: 0.5;
  filter: blur(0px);
}

#game.over:focus #cursor {
  display: none;
}

#game.over #focus-error {
  display: none;
}

#cursor.right {
  transition: left 0.3s ease;
}

#instructions {
  font-size: 1rem;
  color: var(--textPrimary);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.blob-motion {
  z-index: -1;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -10%) rotate(90deg);
  overflow: hidden;
  width: 200vw;
}

#blob1 {
  fill: var(--primaryColor);
  filter: blur(4px);
}
