@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital@0;1&display=swap");
:root {
  --bgcolor: #333;
  --textPrimary: #fff;
  --textSecondary: #666;
  --primaryColor: #fd4;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bgcolor);
  color: var(--textPrimary);
  font-size: 1.4rem;
}

main {
  width: 600px;
  margin: 50px;
}

h1 {
  color: var(--primaryColor);
}

#header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 6px 30px;
}

#buttons {
  text-align: right;
}

#info {
  color: var(--primaryColor);
}

button {
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  color: rgba(255, 255, 255, 0.5);
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

div#game {
  line-height: 35px;
  height: 105px;
  overflow: hidden;
  position: relative;
}

#words {
  filter: blur(5px);
  color: var(--textSecondary);
}

#game:focus #words {
  filter: blur(0);
}

#focus-error {
  position: absolute;
  inset: 0;
  text-align: center;
  padding-top: 35px;
}

#game:focus #focus-error {
  display: none;
}

div.word {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  margin: 0 5px;
}

.letter.correct {
  color: #fff;
}
.letter.incorrect {
  color: #f55;
}
